#.gitignore
__pycache__
.DS_Store

# folders
speciale
matlab_randvar
data
figures
results/hcp
results/synthetic

# scripts
run_mri_batchjobs.sh
run_syn_batchjobs.sh
submit_big.sh
submit_hpc.sh
get_nlink.py
main_nonpar.py
model_nonpar.py
stattest.ipynb